:root {
  --primaryColor: #ffffff;
  --secondaryColor: #f2f2f2;
  --thirdColor: #2d2d2d;
  --fourthColor: #d7d7d7;
  --textColor: #626569; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor: #000002;
    --secondaryColor: #1d1d1f;
    --thirdColor: #c4c4c4;
    --fourthColor: #575757;
    --textColor: #c4c4c4; 
  }
}

[data-theme="light"] {
  --primaryColor: #ffffff;
  --secondaryColor: #f2f2f2;
  --thirdColor: #2d2d2d;
  --fourthColor: #d7d7d7;
  --textColor: #626569; 
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--primaryColor) !important;
}

button {
  border: none;
}

.search-suggests-wrapper{
  width: 90%;
  margin: 0 auto;
}

.search-suggests-list{
  list-style: none;
  margin-top: 16px;
  padding: 0;
}

.search-suggests-item:first-child{
  border-radius:4px 4px 0 0;
}

.search-suggests-item:last-child{
  border-radius: 0 0 4px 4px;
  border: none;
}

.search-suggests-item {
  background-color: var(--secondaryColor);
  color: var(--textColor);
  font-size:16px;
  border-bottom: 1px solid var(--fourthColor);
  border-radius:0;
  padding: 4px 10px;
  cursor: pointer;
}

.search-suggests-item:hover {
  background-color: var(--fourthColor);
}

.theme-switch-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.theme-switch-wrapper input{
  display: none;
}

.theme-switch-wrapper .theme-switch-icon {
  color:var(--thirdColor);
}

.settings-switch-icon{
  color:var(--thirdColor);
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: var(--secondaryColor);
  border-radius: 30px;
  padding: 10px;
  border: 1px solid var(--fourthColor);
}

.search_input {
  color: var(--thirdColor);
  border: 0;
  outline: 0;
  background: none;
  padding: 0 10px;
  width: 300px;
  caret-color: var(--textColor);
  line-height: 40px;
  transition: width 0.4s linear;
  font-size: 22px;
}

.searchbar:hover > .search_icon {
  background: white;
  color: var(--thirdColor);
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--thirdColor);
  text-decoration: none;
  background:transparent;
  -webkit-text-stroke: 3px var(--secondaryColor);
}

  footer {
    height: 60px;
    text-align:center;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer > div {
    display: inline-flex;
  }

  footer > div > ul > li{
    list-style-type: none;
    
    margin-right: 2vh;
  }

  .form-flex{
    display: flex;
  }
  
  #blockedView {
    background:var(--primaryColor) !important;;
    display: block;
    position: absolute;
    top: 50px;
    right: 60px;
  }

  #blockInput{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: var(--secondaryColor);
    border-radius: 30px;
    padding: 10px;
    border: 1px solid var(--fourthColor);
  }
  #show{
    display: block;
    position: absolute;
    top: 10px;
    right: 60px;
  }
 

  /*****************************************blockedlist and input***************************************/

  /* Include the padding and border in an element's total width and height */
* {

  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
   
}
nav ul{height:400px; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background:var(--primaryColor) !important;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--textColor) !important;
  padding: 4px 10px;
}

/* Darker background-color on hover */
ul li:hover {
  background-color: var(--fourthColor) !important;
  
}
/* Style the remove button */
.remove {
  color: var(--textColor) !important;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}


/* Style the header */
.header {
  background-color:#71bbf7;
  /*padding: 30px 40px;*/
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  color: var(--thirdColor);
  border: 0;
  outline: 0;
  background: none;
  padding: 0 10px;
  width: 300px;
  caret-color: var(--textColor);
  line-height: 40px;
  transition: width 0.4s linear;
  font-size: 22px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  color: var(--primaryColor);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--thirdColor);
  text-decoration: none;
  background:transparent;
}

.addBtn:hover {
  background-color:var(--secondaryColor);
}
::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: var(--thirdColor);
}

::-webkit-scrollbar-thumb
{
  background: var(--thirdColor);
}
