:root {
  --primaryColor: #ffffff;
  --secondaryColor: #f2f2f2;
  --thirdColor: #2d2d2d;
  --textColor: #626569; 
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--primaryColor) !important;
}

button {
  border: none;
}


.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: var(--secondaryColor);
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: var(--thirdColor);

  border: 0;
  outline: 0;
  background: none;
  padding: 0 10px;
  width: 300px;
  caret-color: var(--textColor);
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: var(--thirdColor);
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--thirdColor);
  text-decoration: none;
  background:transparent;
}

  footer {
    height: 60px;
    line-height:60px;
    text-align:center;
    background-color: var(--secondaryColor);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  footer > div {
    display: inline-flex;
  }

  footer > div > ul > li{
    list-style-type: none;
    
    margin-right: 2vh;
  }
